#app
	height: 80vh

.navbar-brand--image
	padding-top 6px !important

.form-button
	margin-top 5px !important

.footer-social
	font-size 42px
	color #3B5998

.hero-text
	font-size 16px

.tempHidden
	display none

.autocomplete-suggestion 
	.search-item
		border-radius 0  !important
		padding 3px 10px
		
		.search-item-name
			font-size 12px
	
	&:last-child
		.search-item
			border-bottom-right-radius 4px !important
			border-bottom-left-radius 4px !important
	
	&:nth-child(2n)
		.search-item
			border-top 0